<div id="modal-workspace-role-create-form"
     class="modal-dialog"
     role="dialog"
     aria-labelledby="modalLabel"
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'role_creation'|trans({}, 'platform') }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-info">
                {{ 'tool_roles_create_directory'|trans({}, 'platform') }}
            </div>
            <form id="workspace-role-create-form"
                  action="{{ path('claro_workspace_users_role_create', {'workspace': workspace.getId()}) }}"
                  method="POST"
            > 
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </span>
            <button type="button" id='create-btn' class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>